/target/
/oeos-grpc/.gradle
oeos-sysevent/message_logs
**/.settings
**/.gradle
**/.project
**/target
**/classes
**/tmp
/target
**/logs
**/.classpath
**/bin
**/.idea
**.iml
**/**.iml
**/**.zip
**/**.jar
/conf/
**/.DS_Store
